
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for webkit browsers */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(156, 163, 175, 0.5);
  border-radius: 20px;
  border: 3px solid transparent;
}
.dark ::-webkit-scrollbar-thumb {
  background-color: rgba(107, 114, 128, 0.5);
}
